body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}


.DataList {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: #222222;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.DataList img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.2s, box-shadow 0.3s;
}
.DataList img:hover {
    transform: scale(1.05);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.DataList h1 {
    font-size: 1.2rem;
    margin-bottom: 4px;
}

.DataList h2 {
    font-size: .9rem;
    margin-bottom: 4px;
}

.DataList h3 {
    font-size: .9rem;
    margin-bottom: 4px;
}

.DataList p {
    font-size: .8rem;
}


